{% extends "base.html" %}
{% block content %}
<section class="container">
        <div class="container underline zag">
                В глубинах бездны лунной ночи танцуют феи на крыльях бабочек, плавая в невесомости космических потоков, 
                звезды сияют бриллиантами в бесконечности пространства, а зеленый змей глотает планеты и солнца, 
                разговаривая с утками, которые летят вверх ногами. Рядом с ними водятся странные создания, которые пьют 
                розовый кофе с мармеладом и слушают музыку из звездных облаков. На вершине горы сидит старый волшебник, 
                который играет на флейте из камней, вызывая вокруг себя магические искры. А внизу под горой, танцуют звери, 
                покрытые цветами радуги, которые поют песни о любви и счастье.
                Краски мира смешиваются в ярких холстах, ароматы цветов заполняют воздух, а говорящие деревья рассказывают 
                истории о далеких мирах и фантастических существах. Ветер дует свежим ветерком, перенося с собой мелодии песен 
                и голоса природы. А где-то вдали кипит океан, выхватывая из глубин морских тайн и загадок. На его берегах живут 
                мифические существа, которые способны управлять приливами и отливами, а в пещерах скрываются сокровища древних племен.
                Между тем, на другой стороне земного шара, в стране чудес и волшебства, растут леса из шоколада и мороженого, а 
                дороги из карамели. В небе летают машины на воздушных шарах, которые разносят на своих крыльях конфеты и леденцы. 
                А в глубине леса таится замок, который находится на двух лунах, и который способен превращать время в магию.
                Все это происходит в том мире, где реальность и фантазия неразрывны.
                В глубинах бездны лунной ночи танцуют феи на крыльях бабочек, плавая в невесомости космических потоков, 
                звезды сияют бриллиантами в бесконечности пространства, а зеленый змей глотает планеты и солнца, 
                разговаривая с утками, которые летят вверх ногами. Рядом с ними водятся странные создания, которые пьют 
                розовый кофе с мармеладом и слушают музыку из звездных облаков. На вершине горы сидит старый волшебник, 
                который играет на флейте из камней, вызывая вокруг себя магические искры. А внизу под горой, танцуют звери, 
                покрытые цветами радуги, которые поют песни о любви и счастье.
                Краски мира смешиваются в ярких холстах, ароматы цветов заполняют воздух, а говорящие деревья рассказывают 
                истории о далеких мирах и фантастических существах. Ветер дует свежим ветерком, перенося с собой мелодии песен 
                и голоса природы. А где-то вдали кипит океан, выхватывая из глубин морских тайн и загадок. На его берегах живут 
                мифические существа, которые способны управлять приливами и отливами, а в пещерах скрываются сокровища древних племен.
                Между тем, на другой стороне земного шара, в стране чудес и волшебства, растут леса из шоколада и мороженого, а 
                дороги из карамели. В небе летают машины на воздушных шарах, которые разносят на своих крыльях конфеты и леденцы. 
                А в глубине леса таится замок, который находится на двух лунах, и который способен превращать время в магию.
                Все это происходит в том мире, где реальность и фантазия неразрывны.
        </div>
    </section>
<section class="container">
{% for article in articles_page.object_list %}
        <article{% if not loop.last %} class="container underline h" 
        {% else %} class="container h"{% endif %}>
                <header> 
                        <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Перейти к {{ article.title|striptags }} от {{ article.author }}">{{ article.title }}</a></h2> 
                        <div class="date">от <a href="{{ SITEURL }}/{{ article.author.url }}" rel="bookmark" title="Перейти к {{ article.author }}">{{ article.author }}</a></div>
                </header>
                <div> {{ article.summary }} </div>
                <div class="date h">{{ article.locale_date }}</div>
        </article>
{% endfor %}
{% include 'pagination.html' %}
</section>
{% endblock content %}
