{% if DEFAULT_PAGINATION %}
<div class="pager">
      <ul class="pagination justify-content-center">
		{% if articles_page.has_previous() %}
                        {% set num = articles_page.previous_page_number() %}
						<li class="page-item"><a class="page-link" href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">← Назад </a></li>
                {% endif %}
		{% if articles_page.has_next() %}
						<li class="page-item"><a class="page-link" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html"> Вперед →</a></li>
                {% endif %}
      </ul>
    </div>
{% endif %}
